:root{
    --gris: hsl(189, 3%, 57%);
    --verdeNeon: hsl(150, 100%, 66%);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /*transformar escala de 1rem a 10px*/
    background-color: var(--gris);
    font-family: 'Manrope', sans-serif;
    color: var(--celesteClaro);
}

h1, h2, h3 {
    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.tabla{
    width: 100%;
}

.tabla tr{
    display: flex;
    justify-content: center; 
    gap: 2rem;   
}
